header {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 90%;
    margin: auto;
    text-align: center;
}

h1 {
    padding-top: 1%;
}

h3 {
    display: inline;
    padding-right: 1%;
}

main {
    padding: 2em;
}

#intro p {
    padding: 0 2em;
}

#intro {
    text-align: center;
}

img {
    width: 25%;
    border-radius: 5%;
    border: #fd9699 solid 0.25em;
}

article {
    border-bottom: #fad7d8 solid 2px;
}

article:last-child {
    border-bottom: 0;
}

.email {
    padding: 0;
    border-right: 0;
}

a {
    text-decoration: none;
    color: #fd9699;
    font-size: 1.25em;
    border-right: #fd9699 solid 1px;
    padding: 0 2%;
}

a:last-child {
    border-right: 0;
}

.fix {
    padding-left: 0;
}

.italic {
    font-style: italic;
    color: #fd9699;
}

.padding {
    padding-bottom: 2%;
}

/* Skills Bars Start */
.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eeeeee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #fd9699;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0;
    margin: 0;
    background: rgb(249, 224, 224);
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    #my-pic {
        display: none;
    }
}
